section.breadcrumbs {

  @include breakpoint(xs) {
    display: none;
  }

  background-color: #F1F4F9;
  height: 40px;
  margin-bottom: 30px;

  &::before {
    position: absolute;
    content: "";
    background-color: #CED6E0;
    width: calc((100% - 1110px) / 2);
    height: 40px;
    left: 0;
    z-index: 0;
  }

  #breadcrumbs {
    padding: 0 15px 0 30px;
    margin-left: -60px;
    line-height: 40px;
    color: $dark-grey;
    font-weight: 300;
    height: 100%;

    a {
      padding:  0 15px 0 30px;
      background-color: #CED6E0;
      margin-left: 0;
      display: inline-block;
      color: $dark-grey;
      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }

    span {
      padding: 0 15px 0 30px;
      margin-left: -15px;
      line-height: 40px;
      color: $dark-grey;
      height: 100%;
      font-weight: 300;

      .breadcrumb_last {
        padding-left: 45px;
        position: relative;
        display: inline-block;
        background-color: #E3EAF3;
        &::before {
          content: "";
          border-radius: 0 20px 20px 0;
          background-color: #ced6e0;
          height: 40px;
          width: 20px;
          position: absolute;
          left: 0;
          top: 0;
        }
        &::after {
          content: "";
          border-radius: 0 20px 20px 0;
          background-color: #E3EAF3;
          height: 40px;
          width: 20px;
          position: absolute;
          right: -20px;
          top: 0;
        }
      }
    }
  }
}
section.breadcrumbs #breadcrumbs span span span a {
  margin-left: -20px;
}
