.cta-btn {
  @include transition(all, 400ms);
  text-transform: lowercase;
  font-family: 'museo-sans-rounded', sans-serif;
  padding: 13px 23px;
  border-radius: 25px;
  text-align: center;
  font-weight: 700;
  border: 1px solid $dark-grey;
  color: $dark-grey;
  &:hover {
    color: $orange;
    background-color: transparent;
    text-decoration: none;
  }
  &.cta-purple {
    background-color: $purple;
    color: #fff;
    border: 1px solid $purple;
    &:hover {
      color: $purple;
      border: 1px solid $purple;
      background-color: transparent;
    }
  }
  &.cta-orange {
    background-color: $orange;
    color: #fff;
    border: 1px solid $orange;
    &:hover {
      color: $orange;
      border: 1px solid $orange;
      background-color: transparent;
    }

  }
  &.cta-orange-news {
    background-color: transparent;
    color: $orange;
    border: 1px solid $orange;
    &:hover {
      color: $white;
      border: 1px solid $orange;
      background-color: $orange;
    }
  }
  &.cta-top {
    display: none;

    @include breakpoint(md) {
      margin-top: 25px;
      text-transform: initial;
      display: inline-block;
    }
  }

}

.button-group {
  text-align: center;
  -webkit-appearance: none;

  a {
    align-items: flex-start;
    text-align: center;
    color: $dark-grey;
    background-color: transparent;
    padding: 20px 10px 40px;
    border-width: 0px;
    display: inline-block;

    &:focus {
      outline: none !important;
      border: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;

    }

    &[data-filter=".zorg"] {
      color: $purple;
      font-weight: bolder;

    }

    &[data-filter=".werk"] {

      color: $orange;
      font-weight: bolder;

    }
    &:not(:first-child):before {
      content: "|";
      padding-right: 20px;
      color: $dark-grey;

    }
  }
}