section.faq{

    .faq-header{
        color:$purple;
        padding: 0 0 40px 0;
            
        
        
    }
    .faq-content{


        .faq-item{
            margin-bottom: 20px;
        }

    }


    a{
        display: block;
        color: #fff;
        background-color: #7a8593;
        border-radius: 20px;
        height: 45px;
        line-height: 45px;
        padding-left: 15px;
        position: relative;
        text-decoration: none;
        @include transition(all 300ms);

        &:hover{
            background: #626b77;
        }

        &.active{
            &:after{
                transform: rotate(0);
            }
        }

        &:after{
            @include transition(all 300ms);
            position: absolute;
            width: 18px;
            height: 9px;
            background: url('../images/faq-arrow.png') no-repeat;
            background-size: contain;
            content: "";
            right: 50px;
            top: 18px;
            transform: rotate(-90deg);
        }

    }

    .faq-answer{
        height: 0;
        overflow: hidden;
        @include transition(all 300ms);

        p{
            padding: 15px 30px;
        }

        &.open{
            height: auto;
        }
    }



}