section.flow {
  display: none;
  @include breakpoint(md) {
    display: block;
  }
  .circle {
    position: relative;

    @include breakpoint(md) {
      height: 590px;
      width: 554px;
      display: inline-block;
      background: url('../images/circle-flow.svg') no-repeat;
      background-size: contain;
    }

    .bg {
      display: none;
      @include breakpoint(md) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        position: absolute;
        height: 100px;
        width: 275px;

        a {
          display: block;
          position: relative;
        }

        span.bullet {
          position: absolute;
          top: 0;
          height: 45px;
          width: 45px;
          border-radius: 100%;
          display: inline-block;
          background: #fff;
          border: 5px solid;

          &.active {
            &:after {
              content: "i";
              color: $dark-grey;
              font-family: $objektiv;
              font-size: 1.5rem;
              font-weight: bolder;

              .text {
                font-size: 1.375rem;
                font-weight: bolder;
              }
            }
          }
        }

        &.purple {
          span.bullet {
            color: $purple;
            border-color: $purple;
            right: 0;
          }

          .text {
            color: $purple;
            text-align: right;
            padding-right: 65px;

            span {
              margin-left: 10px;
            }
            span:nth-child(2) {
              margin-right: -10px;
            }
          }
        }

        &.orange {
          span.bullet {
            color: $orange;
            border-color: $orange;
            left: 0;
          }

          .text {
            color: $orange;
            text-align: left;
            padding-left: 65px;

            span {
              margin-left: 10px;
            }
            span:nth-child(2) {
              margin-left: 7px;
            }
          }
        }

        &:hover {
          span.bullet {
            &:after {
              content: "i";
              color: $light-grey;
              font-family: $objektiv;
              font-size: 1.5rem;
              font-weight: bolder;
            }
          }

          a {
            text-decoration: none;
          }
        }
        .text {
          font-size: 1.3rem;
          font-weight: bolder;
        }
      }
    }

    .text-slider {
      position: absolute;
      height: 400px;
      width: 400px;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);

      .item {
        @include transition(all 500ms);
        position: absolute;
        transform: translateY(-50%);
        opacity: 0;
        top: 30%;


        &.active {
          top: 50%;
          opacity: 1;
        }
      }
    }

    .flow-icon {
        position: absolute;
        left: 50%;
        bottom: 0;
        content: "";
        background: url('../images/circle-flow-icon.svg') no-repeat;
        width: 130px;
        height: 130px;
    }
  }
}
.flow-header{
  color:$purple;
  padding-bottom:50px;
  font-size: 48px;
  font-weight: 700;
}