// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

form {
  margin-bottom: 135px;

  
  

  }

  textarea{
    border-radius: 25px;
    border: 2px solid #e3eaf3;
    padding:15px 0 0 20px;
    width:100%;

  }



  input{
    border-radius: 25px;
    border: 2px solid #e3eaf3;
    height: 41px;
    padding: 15px 0 10px 20px;
    width:100%;


  }

  input[type=submit] {
    padding:5px 15px; 
    background:#fff; 
    border:2px solid #7a8593;
    cursor:pointer;
    -webkit-border-radius: 25px;
    border-radius: 25px; 
    width: 160px;
    
}




  ::placeholder {
    color: #ccc;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
  }


