section.quotes {
  position: relative;
  background-color: #fbf6f2;
  padding: 20px 0;
  @include breakpoint(md) {
    padding-top: 160px;
    padding-bottom: 100px;
    background-color: transparent;
  }
  &::before {
    position: absolute;
    content: "";
    width: 87%;
    height: 185px;
    background: #fbf6f2;
    border-radius: 95px 0 0 95px;
    right: 0;
    top: 155px;
    @include breakpoint(xs) {
      display: none;
    }

  }
  .quotes-text {
    display: inline-block;
    text-align: center;
    padding-top: 47px;
    color: $purple;
    font-size: 1.483rem;
    font-weight: bold;
    @include breakpoint(xs) {
      padding-top: 0;
    }
  }
}