section.team {
  h2.section-header {
    margin: 0 auto;
  }
  
  span.filter {
    display: block;
    padding-top: 32px;
    padding-bottom: 48px;
  }
  .team-slider {
    top: 50px;
  }
  .team-member {
    height: 600px;
    background-color: $light-grey;
    border-radius: 175px 175px 0 0;
    padding: 20px;
    img {
      width: 100%
    }
    span.name {
      padding: 18px;
      font-size: 1.625rem;
      font-family: $museo;
      font-weight: 700;
    }
    p.description {
      padding: 18px;
    }
    div.team-socials {
      position: absolute;
      width: 50%;
      height: 60px;
      background-color: $pink;
      border-radius: 30px 0 0 30px;
      right: 15px;
      bottom: 30px;
      line-height: 58px;

      a {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 5px;
        background-color: $purple;
        border-radius: 50%;
        margin-left: 10px;
        text-align: center;
        line-height: 40px;

        i {
          color: #fff;
        }
      }

    }
    .grid-item {
      margin-bottom: 15px;
    }

    div.rounded-circle {
      background-image: url(../images/about-team-frame-all.png);
      background-size: contain;
      background-position-x: 0;
      background-position-y: 0;
      background-repeat: no-repeat;
      padding: 30px;
    }
    &.zorg {
      div.rounded-circle {
        background-image: url(../images/about-team-frame-care.png);
      }
    }
    &.werk {
      div.rounded-circle {
        background-image: url(../images/about-team-frame-work.png);
      }
      &.zorg {
        div.rounded-circle {
          background-image: url(../images/about-team-frame-all.png);
        }
      }
    }
  }
}

