section.usp {
  padding: 0;
  padding-bottom: 100px;
  position: relative;
  @include breakpoint(md) {
    padding-top: 160px;
  }
  &::before {
    position: absolute;
    content: "";
    width: 80%;
    height: 185px;
    background: $light-grey;
    border-radius: 0 95px 95px 0;
    left: 0;
    top: 155px;
    display: none;
    @include breakpoint(md) {
      display: flex;
    }
  }
  .usp-photo {
    background: url(../images/cta-gradient.png) no-repeat;
    background-size: contain;
    margin-top: -60px;
    padding: 15px 15px 0;
    height: 275px;
    img {
      width: 250px;
      height: auto;
    }
  }
  .usp-text {
    display: inline-block;
    padding-top: 10px;
    color: $orange;
    font-size: 1.875rem;
    font-weight: bold;
    @include breakpoint(md) {
      padding-top: 45px;
    }
  }
  .usp-right {

    @include breakpoint(md) {
      padding-right: 40px;
    }
  }
  a {
    text-transform: none;
    display: inline-block;
    margin-top: 15px;
    @include breakpoint(md) {
      margin-top: 65px;
    }
  }
}