html {
  font-size: 14px;
}
body {
  font-family: 'objektiv-mk1', sans-serif;
  color: $dark-grey;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'museo-sans-rounded', sans-serif;
  }

  h2.section-header {
    font-size: 3.125rem;
    color: $orange;
    margin-bottom: 25px;
    text-transform: lowercase;

    @include breakpoint(md) {
      margin-bottom: 50px;
    }

    &::first-letter {
      text-transform: uppercase;
    }

    display: inline-block;
    background: -webkit-linear-gradient(left, $purple, $orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .wrap {
    margin-top: 100px;
  }

  blockquote {
    font-family: 'objektiv-mk1', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.1;
    color: $purple;

    &::before {
      content: open-quote;
      font-size: 2rem;
      color: $purple;
    }

    &::after {
      content: close-quote;
      font-size: 2rem;
      color: $purple;
    }
  }
}
header.page-header {
  content: "";
  padding-bottom: 25vw;
  width: 100%;
  background: url(../images/page-header.png) no-repeat center center;
  background-size: cover;
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}

.img-fluid-350 {
  width:200px;
  height:200px;
  @include breakpoint(md) {
    width: 350px;
    height: 350px;
  }
}
