@mixin linear-gradient($top-color, $bottom-color, $opacity) {
    background: -moz-linear-gradient(top, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str(rgba($top-color, $opacity))}', endColorstr='#{ie-hex-str(rgba($bottom-color, $opacity))}',GradientType=0 ); /* IE6-9 */
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin breakpoint($minWidth: 0, $maxWidth: 0, $minHeight: 0, $maxHeight: 0) {
    $type: type-of($minWidth);

    @if $type == string {
        $class: $minWidth;

        @if $class == xs {
            @media (max-width: 767px) { @content; }
        }

        @else if $class == sm {
            @media (min-width: 768px) { @content; }
        }

        @else if $class == md {
            @media (min-width: 992px) { @content; }
        }

        @else if $class == lg {
            @media (min-width: 1200px) { @content; }
        }

        @else {
            @warn "Breakpoint mixin supports: xs, sm, md, lg";
        }
    }
    @else if $type == number {
        $widthQuery: "all" !default;

        // width
        @if $minWidth != 0 and $maxWidth != 0 {
            $widthQuery: "(min-width: #{$minWidth}) and (max-width: #{$maxWidth})";
        }
        @else if $minWidth != 0 and $maxWidth == 0 {
            $widthQuery: "(min-width: #{$minWidth})";
        }
        @else if $minWidth == 0 and $maxWidth != 0 {
            $widthQuery: "(max-width: #{$maxWidth})";
        }

        // height
        $heightQuery: 0;
        @if $minHeight != 0 and $maxHeight != 0 {
            $heightQuery: "(min-height: #{$minHeight}) and (max-height: #{$maxHeight})";
        }
        @else if $minHeight != 0 and $maxHeight == 0 {
            $heightQuery: "(min-height: #{$minHeight})";
        }
        @else if $minHeight == 0 and $maxHeight != 0 {
            $heightQuery: "(max-height: #{$maxHeight})";
        }

        @if $minHeight != 0{
            @media #{$widthQuery} and #{$heightQuery} {
                @content;
            }
        }
        @else if $maxHeight != 0{
            @media #{$widthQuery} and #{$heightQuery} {
                @content;
            }
        }
        @else if $minHeight != 0 and $maxHeight != 0{
            @media #{$widthQuery} and #{$heightQuery} {
                @content;
            }
        }
        @else {
            @media #{$widthQuery} {
                @content;
            }
        }

    }
}

@mixin img-responsive($display: block) {
    display: $display;
    max-width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}