// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colours
$dark-grey: #7A8593;
$light-grey: #E3EAF3;
$purple: #951B81;
$orange: #F39200;
$pink: #EFD5C0;
$bg-gradient-grey: linear-gradient(to bottom, #fff, $light-grey, #fff);

$museo: 'museo-sans-rounded', sans-serif;
$objektiv: 'objektiv-mk1', sans-serif;

