/* contact */
.page-template-template-contact {
  .breadcrumbs {
    margin-bottom: 0;
  }

  .section-header.adres {
    margin-top: 50px;
    font-size: 2.25rem;

  }
  section.contact {
    position: relative;
    #map {
      width: 100%;
      height: 30vh;
      @include breakpoint(md) {
        position: absolute;
        width: 50vw;
        top: 0;
        right: 0;
        margin-top: 0;
        height: 100vh;
      }
    }
  }

  .section-header.form {
    margin-top: 50px;
    font-size: 2.25rem;
  }

  form {
    margin-bottom: 45px;
  }
}


