.site-footer {
  .footer-top {
    line-height: 2;
    background-color: $purple;
    padding: 6.25rem 0;
    color: #fff;
    #footer-address {
      img {
        margin-right: 1rem;
      }
    }
    address {
      font-family: 'objektiv-mk1', sans-serif;
      color: #fff;
      margin-top: 28px;
    }
    a {
      color: #fff;
    }
    ul.nav {
      display: block;
    }
    span.title {
      font-size: 1.875rem;
      text-transform: lowercase;
      color: $orange;
    }
    nav  {
      padding-top: 1.25rem;
      .news-date {
        font-size: 0.875rem;
        color: #AEBDD0;
      }
    }
    #footer-newsletter, #footer-news, #footer-menu {
      padding-top: 16px;
      input[type="text"] {
        border-radius: 1rem;
        height: 2.5rem;
        width: 9.6875rem;
        margin-right: 1rem;
        padding-left: 1.25rem;
        line-height: 3;
      }
      button {
        height: 2.5rem;
        width: 2.5rem;
        background-color: $orange;
        color: #fff;
        border-radius: 1.25rem;
        border: none;
      }
    }
    .newsletter {
      padding-top: 1.25rem;
    }

    .social {
      height: 32px;
      width: 32px;
      border: 2px solid white;
      border-radius: 50%;
      margin-top: 50px;
      margin-right: 10px;
      padding: 5px 0 5px 8px;
    }
    form {
      margin-bottom: 0;
      text-align: center;
      @include breakpoint(md) {
        text-align: left;
      }
    }
  }

  .footer-bottom {
    font-size: .65em;
    color: $purple;
    line-height: 3;
    @include breakpoint(md) {
      font-size: 0.875rem;
    }
  }

  .bottom-navigation {
    .nav {
      float: right;
      & a {
        color: $purple;
        padding: 0 15px 0 0;
      }
    }
  }
}
