.banner {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  .logo {
    img {
      height: 3.75rem;
      width: auto;
    }
    padding: 20px 40px;
    @include breakpoint(md) {
      padding: 20px 15px;
    }
  }
  .nav {
    margin-top: 40px;

  }
  ul.nav {
    transition: right .4s, top .4s, background-color .4s;
    position: absolute;
    display: block;
    right: -200px;
    float: right;
    top: 0;
    &.expanded {
      transition: right .4s, top .4s, background-color .4s;
      display: block;
      top: 60px;
      right: 0;
      width: 50vw;
      text-align: center;
      background-color: #fff;
      li {
        padding: 20px 0 10px;
      }
    }
    li {
      padding: 0 23px 10px;
      a {
        color: $dark-grey;
      }
      a:hover {
        text-decoration: none;
      }
    }
    .current_page_item {
      background: url('../images/section_banner_menu_active.png') no-repeat center bottom;
    }
    @include breakpoint(md) {
      display: flex;
      right: 0;
    }
  }
  .hamburger {
    position: absolute;
    right: 0;
    font-size: 3rem;
    margin: 20px 40px 0 0;
    z-index: 99;
    @include breakpoint(md) {
      display: none;
    }
  }
}