.home {
  h2.section-header {
    font-size: 3.125rem;
    color: $orange;
    margin-bottom: 50px;
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
    display: inline-block;
    background: -webkit-linear-gradient(left, $purple, $orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  section.hero {
    //  background-image: url('../images/section-hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include breakpoint(md) {
      padding: 100px 0 0;
    }
    .cta-btn {
      margin: 15px auto;
      display: inline-block;
      font-size: 0.85rem;
      @include breakpoint(md) {
        margin-top: 186px;
        font-size: 1rem;
      }
    }
    .title {
      position: relative;
      left: 0;
      top: 25px;
      width: 295px;
      height: 302px;
      background: url(../images/section_hero_title_bridge.png) no-repeat;
      background-size: cover;
      text-transform: lowercase;
      @include breakpoint(md) {
        left: 110px;
        top: 80px;
      }
    }
    span {
      font-family: 'museo-sans-rounded', sans-serif;
      font-weight: 700;
      color: #fff;
      font-size: 3.5rem;
      height: 5.625rem;
      position: absolute;
      margin-top: 25px;
      &.first {
        top: -55px;
        left: 125px;
      }
      &.second {
        top: 30px;
        left: 173px;
      }
      &.third {
        top: 105px;
        left: 211px;
      }
      @include breakpoint(md) {
        font-size: 5rem;
        margin-top: 0;
      }
    }
    h1 {
      color: #fff;
      font-weight: 300;
      font-size: 1.725rem;
      padding: 15px 0;
      text-transform: initial;
      margin: 20px 0;
      @include breakpoint(md) {
        margin: 145px 0;
      }
    }
  }
  section {
    margin: 0px auto 50px;
    &.about-us {
      background: $bg-gradient-grey;
      @include breakpoint(md) {
        padding: 100px 0;
        margin-bottom: 110px;
      }

      a.cta-btn {
        margin: 20px;
        display: block;
        @include breakpoint(md) {
          margin-top: 40px;
          display: inline-block;
        }
      }

      .about-bridge {
        @include breakpoint(md) {
          display: block;
          position: absolute;
          top: 275px;
          right: 60px;
          width: 397px;
          height: 388px;
        }
        display: none;
      }

    }

    &.stories {
      background: #fbf6f2;
      padding: 62px 0 0 0;
      margin-top: -55px;
      margin-bottom: 0;
      @include breakpoint(md) {
        margin-bottom: -115px;
      }
      .story-slider {
        position: relative;
        overflow: hidden;
        .slides {
          display: flex;
          height: 70vh;
          transition: transform 0.4s;
          div {
            flex: 1;
            min-width: 100%;
          }
        }
        .stories-image-container {
          background: url(../images/stories-frame.png) no-repeat;
          z-index: 99;
          height: 555px;
          img {
            width: 60vw;
            position: absolute;
            height: auto;
            top: 12px;
            @include breakpoint(md) {
              width: 296px;
            }
            height: auto;
          }
        }
      }
      .stories-name {
        font-size: 1.625rem;
        color: $purple;
      }

      .slick-next {
        position: absolute;
        top: 135px;
        right: 0;
        cursor: pointer;
        border: none;
        border-radius: 20px;
        color: #fff;
        background-color: $purple;
        padding: 8px 14px 8px 16px;
        z-index: 99;
      }

      .slick-prev {
        position: absolute;
        top: 135px;
        left: 0;
        cursor: pointer;
        border: none;
        border-radius: 20px;
        color: #fff;
        background-color: $orange;
        padding: 8px 14px 8px 16px;
        z-index: 99;
      }
      blockquote {
        margin-top: 10px;
        font-size: 1.25rem;
        @include breakpoint(md) {
          margin-top: 40px;
        }
      }
    }
  }
}






