section.news {
  background: #fff;
 // margin-top: -100px;
  padding: 60px 0;
  @include breakpoint(md) {
    background: $bg-gradient-grey;
  }
  .news-image {
    padding: 0 30px;
    height: 286px;
  }
  span.news-subtitle {
    display: block;
    margin: -50px auto 50px;
  }
  span.news-date {
    top: 270px;
    left: 50px;
    position: absolute;
    color: $purple;
    @include breakpoint(md) {
      top: 250px;
    }
  }
  h3.news-title {
    display: inline-block;
    position: absolute;
    background-color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    right: 0;
    top: 170px;
    padding: 20px 60px 20px 35px;
    border-radius: 30px;
    color: $orange;
    @include breakpoint(md) {
      font-size: 1.25rem;
      background-color: #e7edf5;
    }
  }
  .news-text {
    font-size: 0.875rem;
    padding: 30px 40px 60px;
  }

  p {
    display: block;
    margin-bottom: 40px;
  }
  a.cta-btn {
    display: block;
    margin: 20px;
    @include breakpoint(md) {
      display: inline-block;
      margin: 0;
    }
  }
  
  span.news-date-single{
    color:$purple;
    font-weight: bolder;
    
    
  }
  h2.section-header-news-single{
    margin-bottom:25px;
    font-size: 3.125rem;
    color: $orange;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }

    display: inline-block;
    background: -webkit-linear-gradient(left, $purple, $orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.single-news {
  section.news {
    margin-top: 0;
  }

section.archive-news{
  margin-top:100px;
}  



}
