.page{
    


}

.section-header.list-landing{
font-size: 1.5rem;
padding-top:120px;
margin-bottom: 25px;
text-transform: none;

}

.section-header.callback-landing{
font-size: 1.5rem;


}

.section-header.contact-landing{
font-size: 1.5rem;

}

.form-sidebar{
    float:right;

}

.vg-list{
    padding:0 0 135px 18px;
    font-size: 1.1rem;
    
}


