.page-template-template-services {
  &.werk {
    h2 {
      color: $orange;
    }
  }
  &.zorg {
    h2 {
      color: $purple;
    }
  }

  h2 {
    font-size: 3.0rem;
    font-family: 'museo-sans-rounded', sans-serif;
    padding-bottom: 30px;
    text-transform: none;

    &::first-letter {
      text-transform: uppercase;
    }
    display: inline-block;
  }
  .services {
    padding: 100px 0 100px 0;
    header.page-header {
      content: "";
      padding-bottom: 25vw;
      width: 100%;
      background: url(../images/page-header.png) no-repeat center center;
      background-size: cover;
    }



    .colom_4 {
      @include breakpoint(md) {
        padding-top: 100px;
      }
    }

    .colom_5 {
      @include breakpoint(md) {
        padding-top: 150px;
      }
    }

    .cta-btn {
      margin-top: 25px;
      display: inline-block;

      &:hover {
        color: $purple;
        background-color: transparent;
        text-decoration: none;
      }
    }
  }
  .usp {
    padding-top: 120px;
    @include breakpoint(md) {
      padding-top: 160px;
    }
  }
}


