.page-template-template-story {
  section.our-story {
    padding: 10px 0;

    @include breakpoint(md) {
      padding: 100px 0;
    }

    .text-rechts {
      @include breakpoint(md) {
        padding-top: 100px;
        padding-left: 85px;
      }
    }

    .text-links {
      padding-right: 85px;
    }
  }
  section.usp {
    margin-top: 120px;
    @include breakpoint(md) {
      margin-top: 0;
    }
  }
}

